<h1>name: <%= @sighting.species.name %></h1>

<p>date: <%= @sighting.date %></p>
<p>number: <%= @sighting.number %></p>
<p>latitude: <%= @sighting.latitude %></p>
<p>longitude: <%= @sighting.longitude %></p>

<p><a href="/sightings">To sightings listing </a></p>

<p><a href="/species">Return to species listing </a></p>
